.pageWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    max-height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    width: 100%;
}

.toggle{
    display: flex;
    align-self: stretch;
    padding: 0 10px;
}
.title{
    color: var(--secondary-blue);
    font-size: 16px;
}

.swapsList ::-webkit-scrollbar{
    display: none;
}

.swapsList{
    overflow: auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
