.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentWrapper *::-webkit-scrollbar{
    display: none;
}

.avatar{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    transition: all 100ms ease-in-out;
}

.avatarSelected{
    border: 4px solid var(--primary-blue);
    border-radius: 100%;
    transition: all 100ms ease-in-out;
}

.avatarsWrapper{
    height: 400px;
    width: 70vw;
    display: flex;
    max-width: 400px;
    justify-content: center;
}

.avatarsGrid{
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    height: 400px;
    overflow-y: auto;
}

.buttonsSection{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

@media (max-width: 560px) {
    .avatarsGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 760px) {
    .buttonsSection{
        flex-direction: column;
    }
}