:root{
    --primary-blue: #002F6CFF;
    --primary-white: #FFFFFFFF;
    --primary-accent-red: #FF0000FF;
    --primary-accent-gray: #909090FF;

    --secondary-blue: #0041A0FF;
    --background: #EBEBEBFF;
}