.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    align-items: stretch;
}

.label{
    color: var(--secondary-blue);
    text-align: left;
}

.buttonsSection{
    margin-top: 5px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}