.title{
    color: var(--secondary-blue);
    border-radius: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50vw;
    padding: 5px;
    max-width: 400px;
    min-width: 200px;
    align-items: stretch;
}

.content{
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.label{
    color: var(--secondary-blue);
}

.checkBox{
    color: var(--primary-blue);
    height: 24px;
    width: 24px;
}

.checkBoxContainer{
    display: flex;
    gap: 10px;
    color: var(--secondary-blue);
    align-items: center;
}

.buttonsSection{
    display: flex;
    align-items: stretch;
    gap: 10px;
}

@media (max-width: 760px) {
    .buttonsSection{
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .form{
        width: 70vw;
    }
}

@media (max-width: 360px) {
    form{
        align-items: center;
        padding: 0;
    }
}