@import url("./theme/colors.css");
@import url("./theme/dimensions.css");
@import url("utils.css");

@font-face {
  font-family: "Golos text";
  src: url("./assets/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Golos text";
  src: url("./assets/fonts/GolosText-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root{
  font-family: "Golos text", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}
