.empty-message{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-blue);
}

.title{
    color: var(--secondary-blue);
    font-size: 24px;
}